<div class="sidebare frame">
  <ul>
  </ul>
</div>

<div class="main frame">

  <section class="tabs frame">
    <ul>
      <li>Palette</li>
      <li>URL</li>
      <li>Library</li>
    </ul>
  </section>

  <section class="editor">
    <h2 id='title'>Title</h2>

    {{outlet}}

  </section>
</div>
