<div class="sidebar">
  <ul>
  </ul>
</div>

<div class="main">

  <section class="tabs">
    <ul>
      <li>
        <span>Palette</span>
      </li>
      <li class="active">
        <span>URL</span>
      </li>
      <li>
        <span>Library</span>
      </li>
      <li class="seperator">
        <span>Login</span>
      </li>
    </ul>
  </section>

  <div class="content">
    {{outlet}}
  </div>

</div>
