<section class="editor">
  <h2 {{bind-attr title=title}}>{{title}}</h2>

  <div>
    <ul class="palette">
      {{#each color in model.colors}}
        {{render 'color' color}}
      {{/each}}
      <li class="color new">
        <button {{action "createColor"}} class="add-color"><span>+</span></button>
      </li>
    </ul>
  </div>

</section>