<section class="editor">
  <h2 title="Title">Title</h2>

  <div>
    <ul class="palette">
      <li style="background-color: rgba(255,255,255,.5);">
        <span class="name">Color 1</span>
        <span class="color">rgba(255,255,255,.5)</span>
      </li>
      <li style="background-color: rgba(0,0,0,.5);">
        <span class="name">Color 2</span>
        <span class="color">rgba(0,0,0,.5)</span>
      </li>
      <li style="background-color: #0000ff;">
        <span class="name">Color 3</span>
        <span class="color">#0000ff</span>
      </li>
      <li style="background-color: #00ff00;">
        <span class="name">Color 4</span>
        <span class="color">#00ff00</span>
      </li>
      <li style="background-color: #ff0000;">
        <span class="name">Color 5</span>
        <span class="color">#ff0000</span>
      </li>
    </ul>

    <button class="add-color"><span>+</span></button>
  </div>

</section>